## (70 points possible)

# 1) Logic (10 pts: 5, 5)

a, 5 pts) A casino wants to give "Gold" status to customers who have either 1) spent 10000 dollars or more, or 2) spent 100 nights or more at the hotel.  But if both are true, it wants to give the customer "platinum" status.  Can you fix the bug in the following code by *just* changing the condition in the first line to a more complex condition?  (Thus, the platinum case should remain second.)  You can also add variable assignments to help you test if you like.

In [ ]:
spending = 10001
nights = 101

if spending >= 10000 or nights >= 100:
    print("Gold")
elif spending >= 10000 and nights >= 100:
    print("Platinum")
else:
    print("Normal")

Gold

Your fix:

In [ ]:
# TODO
spending = 10001
nights = 101

if (spending >= 10000 or nights >= 100) and not (spending >= 10000 and nights >= 100):
  print("Gold")
elif spending >= 10000 and nights >= 100:
  print("Platinum")
else:
  print("Normal")

Platinum

b, 5 pts) Set the variables to the values necessary to make "result" True.  (If it helps to understand what is going on, the code later will perform some mathematical analysis, and it's going to either do a few passes over the data ("iterations") or a lot of passes; it will do an amount of logging its actions that ranges from none to a lot; it may or may not be "verbose" and tell the user what it's doing at each step; and it may or may not use the GPU, the graphics processing unit, to speed up the analysis.  But, you don't technically need to know that to do the problem.)

In [ ]:
log_level = 0       # TODO:  change to 1 if necessary
verbose = True      # TODO:  change to True if necessary
gpu_enabled = True   # TODO:  change to True if necessary
extensive = True     # TODO:  change to True if necessary
if extensive:
    iterations = 20
else:
    iterations = 5
logging = log_level != 0
run_full_analysis = iterations >= 10 and gpu_enabled
result = run_full_analysis and verbose and not logging
result

True

# 2) Importing modules (4 pts)

Answer the following questions.

a, 2pts) Using the keyword `from`, import the following functions from the math module. Compute and print the values of
```
ceil(3.1)
floor(3.9)
factorial(5)
gcd(13, 9)
sqrt(64)
```

In [ ]:
import math as m
ceil = m.ceil(3.1)
print(ceil)

floor = m.floor(3.9)
print(floor)

factorial = m.factorial(5)
print(factorial)

gcd = m.gcd(13, 9)
print(gcd)

sqrt = m.sqrt(64)
print(sqrt)

4
3
120
1
8.0

b, 2pt) Import the string module. Print the values of
```
string.ascii_lowercase
string.ascii_lowercase[-1]
```

In [ ]:
# TODO

import string as str

str.ascii_lowercase
str.ascii_lowercase[-1]

'z'

# 3) Loops at the zoo (25 pts: 8, 2, 10, 15)

You work as a data scientist for a small zoo. The manager needs information about the animals at the zoo. The zoo has the following animals:

```
['antelope', 'bear', 'cat', 'dog', 'elephant', 'frog', 'giraffe', 'horse', 'iguana', 'jaguar', 'kangaroo', 'lion', 'monkey', 'nightingale', 'ostrich', 'penguin', 'quail', 'rabbit', 'snake', 'tiger', 'urial', 'vulture', 'whale', 'xenops', 'yak', 'zebra']
```

a, 8 pts) Your manager first wants you to create an index of the form `[('a', 1), ..., ('z', 26)]`. Specifically, this is a list of tuples. Store this index in a variable called `idx`. Do not write the list of 26 tuples out verbatim; for full credit, iterate over string.ascii_lowercase.

In [ ]:
# TODO

idx = []
for index, letter in enumerate(str.ascii_lowercase):
  value = ((letter, index+1))
  idx.append(value)

print(idx)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7), ('h', 8), ('i', 9), ('j', 10), ('k', 11), ('l', 12), ('m', 13), ('n', 14), ('o', 15), ('p', 16), ('q', 17), ('r', 18), ('s', 19), ('t', 20), ('u', 21), ('v', 22), ('w', 23), ('x', 24), ('y', 25), ('z', 26)]



---


b, 2 pts) After generating this list, your manager wants you to create a list of lists where the first list is the index `idx` created in part a, and the second list are the names of the animals in the zoo. Store this list of list as a variable called `zoo_data`.

In [ ]:
# TODO
animal = ['antelope', 'bear', 'cat', 'dog', 'elephant', 'frog', 'giraffe', 'horse', 'iguana', 'jaguar', 'kangaroo', 'lion', 'monkey', 'nightingale', 'ostrich', 'penguin', 'quail', 'rabbit', 'snake', 'tiger', 'urial', 'vulture', 'whale', 'xenops', 'yak', 'zebra']

zoo_data = [idx, animal]

zoo_data

[[('a', 1),
  ('b', 2),
  ('c', 3),
  ('d', 4),
  ('e', 5),
  ('f', 6),
  ('g', 7),
  ('h', 8),
  ('i', 9),
  ('j', 10),
  ('k', 11),
  ('l', 12),
  ('m', 13),
  ('n', 14),
  ('o', 15),
  ('p', 16),
  ('q', 17),
  ('r', 18),
  ('s', 19),
  ('t', 20),
  ('u', 21),
  ('v', 22),
  ('w', 23),
  ('x', 24),
  ('y', 25),
  ('z', 26)],
 ['antelope',
  'bear',
  'cat',
  'dog',
  'elephant',
  'frog',
  'giraffe',
  'horse',
  'iguana',
  'jaguar',
  'kangaroo',
  'lion',
  'monkey',
  'nightingale',
  'ostrich',
  'penguin',
  'quail',
  'rabbit',
  'snake',
  'tiger',
  'urial',
  'vulture',
  'whale',
  'xenops',
  'yak',
  'zebra']]


c, 10 pts) Your manager then wants you to add another list to your list of lists. The third list is the number of letter a's in the name of each animal in the zoo. Use list comprehension and an appropriate string function to create the initial list with the letter a counts.

In [ ]:
# TODO

a_count = [animal.count("a") for animal in zoo_data[1]]
zoo_data.append(a_count)
zoo_data

[[('a', 1),
  ('b', 2),
  ('c', 3),
  ('d', 4),
  ('e', 5),
  ('f', 6),
  ('g', 7),
  ('h', 8),
  ('i', 9),
  ('j', 10),
  ('k', 11),
  ('l', 12),
  ('m', 13),
  ('n', 14),
  ('o', 15),
  ('p', 16),
  ('q', 17),
  ('r', 18),
  ('s', 19),
  ('t', 20),
  ('u', 21),
  ('v', 22),
  ('w', 23),
  ('x', 24),
  ('y', 25),
  ('z', 26)],
 ['antelope',
  'bear',
  'cat',
  'dog',
  'elephant',
  'frog',
  'giraffe',
  'horse',
  'iguana',
  'jaguar',
  'kangaroo',
  'lion',
  'monkey',
  'nightingale',
  'ostrich',
  'penguin',
  'quail',
  'rabbit',
  'snake',
  'tiger',
  'urial',
  'vulture',
  'whale',
  'xenops',
  'yak',
  'zebra'],
 [1,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  2,
  2,
  2,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  1]]


d, 15 pts) Your manager wants you to help him figure out how many zoo animals have 2 or more a's in their name. Using a single loop, extract a list that contains the index tuples and the animal names for all animals with 2 or more a's in their name. The output should be a list of the form:
```
zoo_data_2a = [[('i', 9), 'iguana'], [('j', 10), 'jaguar'], [('k', 11), 'kangaroo']]
```

In [ ]:
zoo_data[1]
len(zoo_data[2])

26

In [ ]:
# TODO
zoo_data_2a = []

count = 0
for index in range(len(zoo_data[2])-1):
  if zoo_data[2][index] >= 2:
    list_2 = [zoo_data[0][index], zoo_data[1][index]]
    zoo_data_2a.append(list_2)


zoo_data_2a

[[('i', 9), 'iguana'], [('j', 10), 'jaguar'], [('k', 11), 'kangaroo']]

# 4) Testing and debugging (20 pts: 5, 15)

a 5 pts) Your colleague  Amalia comes to you with the following snippet of Python code that she says is not working. Write the correct code in the empty cell below. Be aware that there are multiple errors.

In [ ]:
# Amalia's incorrect code

value = input('Enter a number: ')
while value > 0
    print(value
    value = value - 1

In [ ]:
# TODO

value = int(input('Enter a number: '))
while value > 0:
  print(value)
  value = value - 1

Enter a number: 7
7
6
5
4
3
2
1

b 15 pts) After fixing her code, Amalia comes for help again. She has a list
```
my_integers = [3, 4, 5, 6, 11, 120, -10, 1]
```
and she is trying to check if an input number is in the list. If the input number is in the list she wants to print `True in the list` otherwise `False not in the list`. The current code only gives errors. Fix the code so that there are no more errors.

In [ ]:
# Amalia's incorrect code

my_integers = [3, 4, 5, 6, 11, 120, -10, 1]
in_the_list = false
value = input("Check if this number is in the list: ")
for i in my_integers:
    if value == j:
        print(in_the_list + " in the list" )
        break
    else:
        print(in_the_list + " not in the list")

NameError: name 'false' is not defined

In [ ]:
# TODO

my_integers = [3, 4, 5, 6, 11, 120, -10, 1]
in_the_list = False
value = int(input("Check if this number is in the list: "))

for i in my_integers:
    if i == value:
        in_the_list = True
        print(f"{value} is in the list.")
        break
if value not in my_integers:
    in_the_list = False
    print(f"{in_the_list} + not in the list")

Check if this number is in the list: 77
False + not in the list

# 5) Iteration (11 pts: 4, 1, 4, 2)

a 4 pts) You are given the following lines of code

```
print(count)
count = 0
count += 1
for i in range(0, n):
for j in range(0, n):
n = 5
```

Correctly arrange these lines of code so that you print a value of 25 at the end of the execution.

In [ ]:
# TODO
count = 0
n = 5
for i in range(0,n):
  for j in range(0,n):
    count += 1

print(count)

25

b 1 pt) Consider what happens when we assign different values to $n$.  How does the value of count depend on $n$ -- is it equal to $n$, $n^2$, $n^3$, or something else?  (You can click on this textbox to see how to format text with exponents.)

Answer:

c 4 pts) You are given the following lines of code

```
print(count)
count = 0
count += 1
count += 1
for i in range(0, n):
for i in range(0, n):
n = 5
```

Correctly arrange these lines of code so that you print a value of 10 when you execute the code.

In [ ]:
# TODO

count = 0
n = 5
for i in range(0, n):
  count +=1

for i in range(0,n):
  count +=1

print(count)

10

d 2 pts) Now how does the value of count depend on `n`?

Answer: The value of count depends on n because it depends on how many type the code iterates through the for loop and thus increments the count value by 1.

**When you are done, submit both your .ipynb (File->Download->Download .ipynb in Google Colab) and a PDF (File->Print->Save to PDF) to Blackboard where you found this assignment.**  (The backup PDF helps us give you points if there's a problem with your .ipynb.)